* {
  margin: 0px;
  box-sizing: border-box;
}
html {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
}
body {
  min-height: 100vh;
}
.container.header {
  align-items: center;
}
.container {
  max-width: 1000px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  height: 100%;
}
header {
  text-align: center;
  height: 6rem;
  border-bottom: 1.2px solid #eee;
}
h1 {
  font-size: 2.4rem;
  color: #0088b9;
}
.search input {
  font-size: 1.4rem;
  padding: 4px 10px;
  border-radius: 15px 0px 0px 15px;
  border: 2px solid #0088b9;
}
.search input:focus {
  outline: none;
  border: 2px solid #0088b9;
}
.search button {
  padding: 6px 12px 6px 8px;
  background: #0088b9;
  border-radius: 0px 15px 15px 0px;
  font-size: 1.4rem;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  border: none;
}
main {
  min-height: 81.5vh;
}
.inputForm,
.unRead,
.alreadyRead {
  width: 475px;
  height: max-content;
  border: 1px solid #eee;
  padding: 20px;
  margin-top: 50px;
  border-radius: 10px;
}
.alreadyRead {
  margin-bottom: 50px;
}
h2 {
  text-align: center;
  margin-bottom: 10px;
  color: #0088b9;
  font-size: 1.8rem;
}
.formElement {
  margin-bottom: 10px;
  width: 100%;
}
.formElement label {
  font-size: 1.4rem;
}
.formElement input {
  font-size: 1.4rem;
  padding: 4px 6px;
  width: 100%;
  border: 1px solid #eee;
  border-radius: 4px;
}
.formElement input:focus {
  outline: none;
  border: 1px solid #ccc;
}
.formElement input[type="checkbox"] {
  width: max-content;
  margin-left: 6px;
}
.formElement.check {
  display: flex;
  align-items: center;
}
.formElement button {
  font-size: 1.4rem;
  padding: 6px;
  width: 100%;
  margin-top: 20px;
  background: #0088b9;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.4s;
}
.formElement button:hover {
  box-shadow: 0px 0px 0px 4px rgba(0, 136, 185, 0.5);
}
.list {
  background: #f9f9f9;
  padding: 10px;
  border-radius: 4px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.list h3 {
  font-size: 1.5rem;
}
.list p {
  font-size: 1.2rem;
}
.list .actionButton button,
.textConfirmDelete button {
  margin-left: 4px;
  cursor: pointer;
  border: none;
  padding: 4px 6px;
  border-radius: 2px;
  transition: 0.4s;
  color: #fff;
}
.list .actionButton #alreadyReadButton,
#unReadButton,
.textConfirmDelete .yesButton {
  background: #00b950;
}
.list .actionButton #deleteButton,
.textConfirmDelete .noButton {
  background: #b90000;
}
.list .actionButton #alreadyReadButton:hover,
#unReadButton:hover,
.textConfirmDelete .yesButton:hover {
  box-shadow: 0px 0px 0px 3px rgba(0, 185, 80, 0.5);
}
.list .actionButton #deleteButton:hover,
.textConfirmDelete .noButton:hover {
  box-shadow: 0px 0px 0px 3px rgba(185, 0, 0, 0.5);
}
footer {
  font-size: 1.4rem;
  padding: 2rem;
  text-align: center;
  border-top: 1.2px solid #eee;
}
#confirmDelete {
  position: absolute;
  display: flex;
  display: none;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(2px);
  width: 100vw;
  height: 100vh;
}
.textConfirmDelete {
  position: absolute;
  top: 37%;
  left: 37%;
  background: #fff;
  border-radius: 10px;
  padding: 15px;
  width: 350px;
  border: 1px solid #eee;
  text-align: center;
  transition: 0.4s;
}
.textConfirmDelete p {
  font-size: 1.4rem;
}
.textConfirmDelete button {
  margin: 1rem 0.3rem 0 0.3rem;
}
